<h2>Active Auctions</h2>
<table>
  <tr>
    <th>Item</th>
    <th>Auction End Time</th>
    <th>Current Bid</th>
  </tr>
  <% @auctions.each do |auction| %>
  <tr onclick="location.href='<%= auctions_view_url(auction.id) %>';" style="cursor: pointer;" onmouseover="this.className='hover';" onmouseout="this.className='';" >
    <%= render 'auction_listing', :locals => {:auction => auction}%>
  </tr>
<% end %>
</table>