<% auction = defined?(locals[:auction]) ? locals[:auction] : @auction %>

<td>
  <% if auction.item %>
    <strong><%= auction.item.name %><%= (" (" + auction.item.age.year.to_s + ")") if auction.item.age %></strong>
  <% else %>
    <strong>Item Error!</strong>
  <% end %>
</td>

<td>
  <%= auction.time_left_short %>
</td>

<td>
  <%= auction.current_bid_to_currency %>
</td>