<h1>Administrative Home</h1>
<%= link_to "Announcements Admin", admin_announcements_path %>
<%= link_to "Auctions Admin", admin_auctions_path %>
<%= link_to "Items Admin", admin_items_path %>
<%= link_to "Users Admin", admin_users_path %>