<h3>Admin Tools</h3>
<ul>
  <li><%= link_to "Announcements Admin", admin_announcements_path %></li>
  <li><%= link_to "Auctions Admin", admin_auctions_path %></li>
  <li><%= link_to "Items Admin", admin_items_path %></li>
  <li><%= link_to "Users Admin", admin_users_path %></li>
</ul>
